name: Sanity build
on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Cypress run - only specific test
        uses: cypress-io/github-action@v6
        with:
          command: npm run test_webtable
